html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  text-align: center;
}
.app-header span {
  color: #61dafb;
}

.app-header {
  background-color: #282c34;
  display: flex;
  height: 150px;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 20px;
}

.app-header a {
  color: white;
  text-decoration: none;
}
.app-header a.active {
  text-decoration: underline;
}

.container {
  width: 60vw;
  margin: auto;
  margin-top: 30px;
}

.heroes-row {
  height: 500px;

}